amqp
asgiref
backports.zoneinfo
billiard
black
build
celery
click
click-didyoumean
click-plugins
click-repl
colorama
debugpy
Deprecated
Django
django-celery-results
django-filter
django-jazzmin
djangorestframework
dnspython
email-validator
idna
importlib-metadata
kombu
Markdown
mypy-extensions
packaging
pathspec
Pillow
pip-tools
platformdirs
prompt-toolkit
psycopg2-binary
PyJWT
pyotp
pyparsing
pyproject_hooks
python-dotenv
pytz
redis
six
sqlparse
tomli
typing_extensions
tzdata
vine
wcwidth
whitenoise
wrapt
zipp
